@import './variables';

.toolbar {
    height: $toolbar-height;
    // background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    z-index: 999;

    &__btn {
        padding: 2px;
        margin-left: 10px;
        border: 1px solid gray;
        border-radius: 3px;

        &:hover {
            border: 2px solid black;
            padding: 1px;
        }
    }
}

.setting-bar {
    height: $toolbar-height;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    top: $toolbar-height;
}